.resultListItem a {
  font-family: "Roboto", "Arial", sans-serif;
  text-decoration: none;
  font-size: 20px;
  line-height: 30px;
  width: 800px;
  display: block;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  font-size: 24px;
}